/* shedules/groups/* */
.uniform-bg {
    background: #395FB6;
    position: relative;
    outline: #395FB6 solid 0.3em;
    -moz-outline-offset: -0.04em;
}

.uniform-bg span {
    position: relative;
}

small.week {
    font-size: 20px;
}

.schedule__title-week-type {
    font-size: 16px;
    font-weight: 700;
    color: white;
    padding-left: 5px;
}

.schedule__table-time {
    font-size: 16px;
    font-weight: 500;
}

.schedule__table-number {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.schedule__table-discipline {
    font-size: 16px;
    font-weight: 700;
}

.schedule__table-teacher {
    font-weight: normal;
}

.schedule__table-class-type {
    font-weight: normal;
    margin: 0;
}

.schedule__table-classroom {
    font-weight: normal;
    margin: 0;
}

select.transparent-select {
    background-color: rgba(131, 129, 129, 0.075) !important;
    border: none !important;
    padding: 1;
}

/* shedules */
.schedule__chair-courses {
    padding: 12px;
    background-color: #dcdfe3;
}

.schedule__chair-course {
    margin-right: 25px;
    padding-right: 20px;
}

.font-weight-bold {
    font-size: 20px;
    margin-bottom: 8px;
}

.schedule__chairs-item {
    padding: 8px;
}

.schedule__chairs-groups__item {
    color: #2c4d9b;
    font-weight: 700;
}

u {    
    border-bottom: 2px dotted #4b79e438;
    text-decoration: none;
}

.schedule__chairs-title {
    margin: 0;
    max-width: 350px;
    font-size: 15px;
}