.ui-w-40 {
    width: 40px !important;
    height: auto;
}
.posts-content{
    margin-top:20px;
}
.postDate {
    display: flex;
    box-sizing: border-box;
}
.userAvatar {
    margin: auto;
}
.postContent {
    margin-left: 47px;
}
img.userAvatar {
    border-radius: 50%;
}
.thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
    box-shadow: 1px 2px 4px 2px rgba(59, 57, 57, 0.16);
}
.thumb {
    padding: 5px;
}
