:root {
    --dark: #26282c;
    --light: #e8e7e3;
    --dark_sidebar: #393838;
    --light_sidebar: #2f5185;
    --light-sidebar-nav-link-hover: #3862a1;
    --dark-sidebar-nav-link-hover: rgb(76, 76, 76);
    --light-sidebar-nav-link-active: #273667;
    --dark-sidebar-nav-link-active: rgb(36, 35, 35);
    --content_wrapper_light: #f4f6f9;
}
.brand-text {
    color: white;
}

.main-sidebar {
    background: var(--light_sidebar);
}

.nav-icon {
    color: white;
}

.nav-item p {
    color: white;
}

.info p {
    color: white;
    margin: auto;
}

.d-block {
    color: white;
}
.bg-white {
    background-color: var(--light_sidebar) !important;
}
.navbar-light .navbar-brand {
    color: white;
    font-weight: bold;
}
.navbar-light:hover .navbar-brand:hover {
    color: white;
}
.nav-link p {
    margin-bottom: 0;
    color: white;
    font-size: 16px;
}
#navbarDropdown {
    color: white;
}
