body {
    background-color: white;
    color: var(--dark);
}
.container, .modal-content {
    background: white;
}
.content-wrapper {
    background-color: var(--content_wrapper_light);
}
.main-header, .main-footer, .table-responsive, table, .tabs__content .card {
    background-color: white;
}
.main-sidebar {
    background-color: var(--light_sidebar);
}
