:root {
    --unreadingpost: rgba(83, 82, 82, 0.68);
    --readingpost: var(--dark);
    --schedule: rgb(57, 55, 55);
}
body {
    background: var(--dark);
    color: var(--light);
}
.container, .modal-content {
    background: var(--dark) !important;
}
.content-wrapper, .card, textarea {
    background-color: var(--dark) !important;
}
textarea {
    color: white;
}
.main-header, .main-sidebar, .main-footer, .table-responsive, table, .tabs__content, input.form-control, select {
    background: var(--dark_sidebar) !important;
}
input, select, .table-responsive label, .widget-49-pro-title {
    color: white !important;
}
table.xcalend tr td {
    color: var(--light);
}
table.xcalend tr td.cal-l, td.cal-r {
    color: var(--light);
}
table.table-hover tbody tr:hover {
    background-color: rgba(76, 76, 76, 0.4);
    color: var(--light);
}
.dt tr:nth-of-type(2n) td {
    background-color: #4c4c4c;
}
.list-group-item {
    background-color: var(--dark) !important;
    color: white;
}
.nav-link:hover:not([data-widget="pushmenu"]) {
    background-color: var(--dark-sidebar-nav-link-hover);
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: var(--dark-sidebar-nav-link-active);
}
.nav-link i {
    color: var(--light);
}
a:not(.btn) {
    color: #909eba !important;
}
a:hover:not(.btn) {
    color: #697284 !important;
}
table, tbody, th, td, tr {
    border: 1px solid #181818 !important;
    border-collapse: collapse !important;
}
