:root {
    --unreadingpost: rgb(244 246 249);
    --readingpost: white;
    --schedule: #dcdfe3;
}
body {
    background-color: white;
    color: var(--dark);
}
.container, .modal-content {
    background: white;
}
.content-wrapper {
    background-color: var(--content_wrapper_light);
}
.main-header, .main-footer, .table-responsive, table, .tabs__content .card {
    background-color: white;
}
.main-sidebar {
    background-color: var(--light_sidebar);
}

.nav-link:hover {
    background-color: var(--light-sidebar-nav-link-hover);
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: var(--light-sidebar-nav-link-active);
}
