/* shedules/groups/* */
.uniform-bg {
    background: #3862a1;
    position: relative;
    outline: #3862a1 solid 0.3em;
}

.uniform-bg span {
    position: relative;
}

small.week {
    font-size: 20px;
}

.schedule__title-week-type {
    font-size: 16px;
    font-weight: 700;
    color: white;
    padding-left: 5px;
}

.schedule__table-time {
    font-size: 16px;
    font-weight: 500;
}

.schedule__table-discipline {
    font-size: 16px;
    font-weight: 700;
}

.schedule__table-class-type {
    font-weight: normal;
    color: #90959a ! important;
    margin: 0;
}

.schedule__table-classroom {
    font-weight: normal;
    margin: 0;
}

/* shedules */
.schedule__chair-courses {
    padding: 12px;
    background-color: var(--schedule);
}

.schedule__titles {
    position: -webkit-sticky;
    position: sticky;
    top: -3px;
    z-index: 2;
    background: #273667;
    color: var(--light);
}

.schedule__chair-courses {
    padding: 12px;
}

.schedule__chair-course {
    margin-right: 25px;
    padding-right: 20px;
}

.font-weight-bold {
    font-size: 20px;
    margin-bottom: 8px;
}

.schedule__chairs-item {
    padding: 8px;
}

.schedule__chairs-groups__item {
    color: #2c4d9b;
    font-weight: 700;
}

u {
    border-bottom: 2px dotted #4b79e438;
    text-decoration: none;
}

.schedule__chairs-title {
    margin: 0;
    max-width: 350px;
    font-size: 15px;
}
