.custom-file-input:lang(en)~.custom-file-label::after {
    content: "...";
  }

  li {
    list-style-type: none;
    margin-left: 1px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .far.fa-times-circle.text-danger:hover {
    cursor: pointer;
  }

  .none {
    display: none !important;
  }

  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .prevImage {
    display: inline-block;
  }

  .thumb {
    border: 1px solid #000;
  }

  .preview-img {
    max-width:100px;
    margin-bottom:10px;
    margin-top:10px;
  }

  .note-editor {
      margin-bottom: 0;
  }

    h6.required:after
    {
        color: rgba(205, 17, 17, 0.88);
        content: " *";
        font-size: 20px;
    }
