.deleteEdu {
    display: block;
    width: 13px;
    height: 13px;
    --weight: 1px;
    --aa: 1px; /* anti-aliasing */
    --color: rgba(95, 90, 90, 0.97);
    border-radius: 1px;
    background:
        linear-gradient(45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa))),
        linear-gradient(-45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa)));
}
.deleteEdu:hover {
    cursor: pointer;
}
