.workIsDone {
    background-color: rgba(10, 147, 10, 0.6);
}
.workOnVerification {
    background-color: rgba(52, 93, 170, 0.56);
}
.titles {
    font-weight: bold;
    background-color: #5fb388;
    color: #fff;
}
.months {
    background-color: rgb(238, 171, 70);
    color: #ffffff;
    font-weight: bold;
}
